<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevGate - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h1>DevGate</h1>
        <p class="subtitle">Developer API Platform</p>

        <form id="loginForm">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p class="switch">
            Don't have an account?
            <a href="/auth/register-page">Register</a>
        </p>

        <p id="errorMsg" class="error"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>
